<div class="container">
  <div class="sign" *ngIf="!selected">
      <h2>Nous contacter</h2>
      <p>Contacter les administrateurs</p>
      <form *ngIf="!selected">
          <div class="form-box" >
            <label for="Message">Nom</label>
    				<input required type="text" class="field">
            <label for="Message">Mail</label>
            <input required type="text" class="field">
          </div>
          <div class="form-box">
            <label for="Message">Message</label>
            <textarea required class="field"  style="resize: none;"></textarea>
          </div>
          <button type="submit" (click)="onClick()">Envoyer</button>
      </form>
  </div>
  <div class="sign" *ngIf="selected">
    <div class="form">
      <h3>Votre demande à été pris en compte</h3>
    </div>
  </div>
</div>
