
.container{
    position: relative;
    height: 100%;
    margin-left: 90px;
    overflow: hidden;
     /* Style the video: 100% width and height to cover the entire window */


    .description{
        margin-left: 5%;
        padding-top: 4%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;

        .titre{
            font-weight: 800;
            font-size: 3rem;
        }
        p{
            text-align: left;
            width: 30%;
            font-size: 1.5rem;
        }

        a{
            text-decoration: none;
            color: white;
            cursor: pointer;
            display: flex;
            margin-top: 50px;
            font-size: 1.5rem;
            padding: 1rem 8rem 1rem;
            background-color: #7289da;
            border-radius: 15px;
            transition: transform 330ms ease-in-out;


        }

        a:hover{
            transform: scale(1.1);
        }
    }
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;

}

@media (max-width: 640px) {
  .container{
    .description{
      font-size: 0.1rem;
    }
  }
}

