
<div class="container">
    <video playsinline autoplay muted loop id="myVideo">
      <source src="../../assets/ocean.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
      <h1 class="titre">Your place to chat</h1>

    </video>

    <div class="description">

          <p>Mettez-vous à contribution dès maintenant et aidez-nous à enrichir notre patrimoine historique.
            Œuvrez votre propre aventure de sauvetage avec notre application.
            Vos efforts nous aident à enrichir notre base de données sur les sauvetages en mer.
          </p>

        <a routerLink="/auth/signup">Enregistrez-vous</a>
    </div>
</div>
